Alfred-Workflow==1.11.1
CodeIntel==0.1.6
Flask==0.10.1
flask-mwoauth==0.1.37
Flask-OAuth==0.12
Flask-Redis==0.0.6
git-review==1.24
httplib2==0.9
Inflector==2.0.11
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mercurial==3.3.2
oauth2==1.5.211
pep8==1.6.2
pyflakes==0.8.1
PyYAML==3.11
redis==2.10.3
requests==2.6.0
six==1.9.0
subprocess32==3.2.6
vboxapi==1.0
virtualenv==12.0.7
WebOb==1.4
Werkzeug==0.10.1
zope.cachedescriptors==4.1.0
